@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Square+Peg&display=swap');

:root {
  --border: 1px #d6d5d5 solid;
  --main-bg: #f8f8f8;
  --bg-color: #d6d5d5;
  --list-pad: 15px;
  --popup-text-color: rgb(34, 33, 33);
  --head-color: #11118a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* navbar */
.navbar {
  width: 75vw;
  height: 50px;
  background-color: #060671;
  margin: 1rem 0;
}

.navbar ul {
  list-style-type: none;
  color: #fff;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  margin-right: 1rem;
}

/* end of navbar */

/* main section */

.main-section {
  width: 75vw;
  min-height: 25rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
}

.card {
  width: 300px;
  height: 400px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.card-image {
  height: 250px;
  width: 100%;
}

.img {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-btn {
  width: 100%;
  border: 0;
  padding: 8px;
  background-color: var(--head-color);
  color: #fff;
  cursor: pointer;
}

.fa-solid {
  cursor: pointer;
  color: #00f;
}

/* end of main section */

/* footer section */
.footer {
  width: 75vw;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 216, 216);
  margin: 1rem 0;
  font-weight: bold;
}

/* end of footer section */

.ctn-dog-info-window {
  display: none;
  top: 0;
}

.show {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  color: var(--popup-text-color);
  background-color: rgba(0, 0, 0, 0.282);
}

.ctn-dog-info {
  width: 35%;
  height: 80%;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem 0.3rem 0.3rem 0.3rem;
  background-color: white;
  border-radius: 10px;
  overflow-y: scroll;
}

.ctn-img {
  margin: auto;
  display: block;
  height: 330px;
  border-radius: 5px;
  width: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-container {
  width: 85%;
  margin: 20px auto;
}

.dogshow-name {
  text-align: center;
  color: var(--head-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.ctn-comments-head {
  align-content: center;
  margin-bottom: 1rem;
}

.comments-head {
  text-align: center;
  color: var(--head-color);
}

.comment-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.dogshow_info {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 13px 0;
}

.dogshow_info h5 span {
  color: rgb(127, 159, 159);
}

.ctn-icn {
  display: flex;
  flex-direction: row-reverse;
}

.name-area {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  outline: none;
  border-radius: 5px;
}

.comment-area {
  width: 100%;
  height: 5rem;
  resize: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
}

.sub-button {
  width: 100%;
  height: 2rem;
  border: none;
  background-color: var(--head-color);
  color: var(--main-bg);
  cursor: pointer;
  border-radius: 5px;
}

/* comments section */

.date {
  font-weight: bold;
}

.comment-list {
  margin: 1rem 0;
  cursor: pointer;
}
